[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astroid = "==2.2.5"
autopep8 = "==1.4.4"
certifi = "==2019.6.16"
chardet = "==3.0.4"
defusedxml = "==0.6.0"
dj-rest-auth = "==2.2.5"
django = "==4.1.1"
django-allauth = "==0.43.0"
django-crispy-forms = "==1.14.0"
django-cors-headers = "==3.13.0"
django-environ = "==0.4.5"
django-otp = "==0.9.0"
django-templated-mail = "==1.1.1"
djangorestframework = "==3.14.0"
djoser = "==2.0.3"
gunicorn = "==19.9.0"
idna = "==2.8"
isort = "==4.3.21"
lazy-object-proxy = "==1.4.1"
mccabe = "==0.6.1"
oauthlib = "==3.0.1"
pep8 = "==1.7.1"
pycodestyle = "==2.5.0"
pylint = "==2.3.1"
python3-openid = "==3.1.0"
pytz = "==2019.1"
requests = "==2.26.0"
requests-oauthlib = "==1.2.0"
six = "==1.12.0"
sqlparse = "==0.3.0"
typed-ast = "==1.5.4"
urllib3 = "==1.26.12"
wrapt = "==1.11.2"
psycopg2 = "==2.9.3"
django-mptt = "==0.14.0"
graphene-django = "==3.0.0"
django-filter = "==22.1"
awsebcli = "==3.20.3"
aniso8601 = "==9.0.1"
asgiref = "==3.5.2"
botocore = "==1.23.54"
cement = "==2.8.2"
cffi = "==1.15.1"
charset-normalizer = "==2.0.12"
colorama = "==0.4.3"
cryptography = "==38.0.1"
django-js-asset = "==2.0.0"
future = "==0.16.0"
graphene = "==3.1.1"
graphql-core = "==3.2.3"
graphql-relay = "==3.2.0"
jmespath = "==0.10.0"
pathspec = "==0.9.0"
promise = "==2.3"
pycparser = "==2.21"
pyjwt = "==2.5.0"
pypiwin32 = "==223"
python-dateutil = "==2.8.2"
pywin32 = "==304"
pyyaml = "==5.4.1"
semantic-version = "==2.8.5"
termcolor = "==1.1.0"
text-unidecode = "==1.3"
types-cryptography = "==3.3.23"
tzdata = "==2022.4"
wcwidth = "==0.1.9"
psycopg2-binary = "==2.9.3"
pillow = "*"
django-storages = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.8.5"
