.menuList {
  font-weight: 400;
  border-right: 2px solid transparent;
  cursor: pointer;
  padding-inline: 8px;
  padding-inline-end: 0px;

  min-width: 160px;
  font-size: 1rem;

  @media screen and (min-width: 48em) {
    margin: 0 2px;
  }

  @media screen and (min-width: 62em) {
    margin: 0 4px;
  }
}

.menuList > a {
  display: flex;
  height: 100%;
  align-items: center;

  @media screen and (min-width: 48em) {
    padding: 8px 1px;
    font-size: 0.75rem;
  }

  @media screen and (min-width: 62em) {
    font-size: 1rem;
  }

  @media screen and (min-width: 80em) {
    padding: 8px;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  z-index: 1000;
  float: left;
  padding: 0px;
  margin: 0px;
  box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px, rgb(0 0 0 / 10%) 0px -2px 4px;
  border: none;
  color: var(--chakra-colors-neutral-700);
  background-color: var(--chakra-colors-neutral-white);
  display: none;

  padding: 0px;
  margin: 0px;
  display: none;
  min-width: 160px;

  @media screen and (min-width: 48em) {
    left: -78px;
    width: 115px;
  }

  @media screen and (min-width: 62em) {
    width: 132px;
  }

  @media screen and (min-width: 80em) {
    left: -100px;
    width: 160px;
  }
}

.show {
  display: block;
}

.dropdownSubmenu {
  position: absolute;
  top: 0px;
  left: 100%;
  max-height: 680px;
  min-height: 100%;
  background: var(--chakra-colors-neutral-white);
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px, rgba(0, 0, 0, 0.1) 0px -2px 4px;

  font-size: 1rem;
}

.category {
  position: absolute;
  top: 0px;
  max-height: 680px;
  min-height: 100%;
  background: var(--chakra-colors-neutral-white);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px, rgba(0, 0, 0, 0.1) 0px -2px 4px;
  left: 100% !important;
}

.categoryContainer {
  min-height: 100%;
  max-height: 680px;
  overflow-y: scroll;
  overscroll-behavior: contain;

  min-width: 160px;
}

.categoryContainer::-webkit-scrollbar .categoryContainerScroll {
  display: none;
}
